// Font import
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

// Reset
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

figure {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

button:focus,
input:focus {
  box-shadow: none !important;
}

// Variables
$lightColor: #f1f1f7;
$greyColor: #707070;
$darkColor: #201d1d;
$primaryColor: #48398a;
$secondaryColor: #a48c67;

// Helpers
@media (min-width: 768px) {
  .container-right {
    margin-right: 0;
    margin-left: calc(50vw - 375px);
  }
}

@media (min-width: 992px) {
  .container-right {
    margin-right: 0;
    margin-left: calc(50vw - 485px);
  }
}

@media (min-width: 1200px) {
  .container-right {
    margin-right: 0;
    margin-left: calc(50vw - 585px);
  }
}

@media (min-width: 768px) {
  .container-left {
    margin-left: 0;
    margin-right: calc(50vw - 375px);
  }
}

@media (min-width: 992px) {
  .container-left {
    margin-left: 0;
    margin-right: calc(50vw - 485px);
  }
}

@media (min-width: 1200px) {
  .container-left {
    margin-left: 0;
    margin-right: calc(50vw - 585px);
  }
}

.expand {
  width: 100%;
}

@media (min-width: 992px) {
  .expand {
    width: 50%;
  }
}

.absolute-centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-spacing {
  padding: 6rem 0;
}

.bg-light {
  background-color: $lightColor !important;
}

.bg-grey {
  background: $greyColor !important;
}

.bg-dark {
  background-color: $primaryColor !important;
}

.primary-color {
  color: $primaryColor !important;
}

.secondary-color {
  color: $secondaryColor !important;
}

.tertiary-color {
  color: $greyColor !important;
}

.text-small {
  font-size: 10px;
}

.text-middle {
  font-size: 2rem;
}

.text-lg {
  font-size: 2.5rem;
}

.text-xl {
  font-size: 4rem;
}

.lh-2 {
  line-height: 2;
}

.border-bottom-white {
  border-bottom: 1px solid #fff;
}

.border-bottom-primary-color {
  border-bottom: 1px solid $primaryColor;
}

.border-bottom-secondary-color {
  border-bottom: 1px solid $secondaryColor;
}

// Custom styling
.social-media,
.primary-nav,
.secondary-nav {
  a {
    font-weight: bold;
    color: $darkColor;
    text-decoration: none;
    &:hover {
      color: $secondaryColor;
    }
  }
}

@media (min-width: 1200px) {
  .bg-custom {
    background-color: $lightColor !important;
  }
}

.hamburger-icon {
  i {
    color: $greyColor;
    cursor: pointer;
    &:hover {
      color: $secondaryColor;
    }
  }
}

.primary-nav {
  i {
    font-size: small;
    color: $secondaryColor;
  }
}

.secondary-nav {
  a {
    font-size: 12px;
  }
}

.hero {
  padding-top: 12rem;
  padding-bottom: 6rem;
}

.line-title {
  position: relative;
  .line {
    position: absolute;
    border: 1px solid $secondaryColor;
    &.n1 {
      top: 20px;
      left: -42px;
      width: 100px;
      transform: rotate(-45deg);
    }
    &.n2 {
      top: 8px;
      left: -44px;
      width: 75px;
      transform: rotate(-45deg);
    }
  }
}

.dots {
  margin-top: 1.2rem;
  ul {
    li {
      position: relative;
      width: 20px;
      height: 20px;
      background: none;
      border-radius: 50%;
      &:not(:last-of-type) {
        margin-right: 1px;
      }
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 5px;
        height: 5px;
        background: lighten($color: $greyColor, $amount: 40%);
        border-radius: 50%;
        &:hover {
          background: $greyColor;
        }
      }
    }
  }
}

.blog-chevrons {
  margin: 3.5rem 0 2rem 0;
  i {
    cursor: pointer;
  }
}

.custom-placeholder {
  color: #fff;
  caret-color: #fff;
  &::placeholder {
    font-style: italic;
    color: $greyColor;
  }
}

.contact-infos {
  a {
    color: #212529;
    text-decoration: none;
  }
}
