// Reset
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

// Variables
$lightColor: #f1f1f7;
$darkColor: #201d1d;
$primaryColor: #48398a;
$secondaryColor: #a48c67;

// Helpers
.bg-light {
  background-color: $lightColor !important;
}

// Custom styling
.social-media,
.primary-nav,
.secondary-nav {
  a {
    font-weight: bold;
    color: $darkColor;
    text-decoration: none;
    &:hover {
      color: $secondaryColor;
    }
  }
}

@media (min-width: 1200px) {
  .bg-custom {
    background-color: $lightColor !important;
  }
}

.hamburger-icon {
  i {
    color: #707070;
    cursor: pointer;
    &:hover {
      color: $secondaryColor;
    }
  }
}

.primary-nav {
  i {
    font-size: small;
    color: $secondaryColor;
  }
}

.secondary-nav {
  a {
    font-size: 12px;
    text-transform: uppercase;
  }
}
